@import 'reset.styl'

@font-face {
    font-family: Montserrat
    font-style: bold
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD-w.ttf) format('truetype')
}

@font-face {
    font-family: Inter UI;
    src: url(https://rsms.me/inter/font-files/Inter-UI-Regular.woff2?v=3.12) format('woff2'), url(https://rsms.me/inter/font-files/Inter-UI-Regular.woff?v=3.12) format('woff')
}

body 
  transition: color 0.5s, background-color 0.5s
  font-family: Inter UI, Montserrat, sans-serif;
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


    
